In [1]:
!pip install pandas

zsh:1: /opt/homebrew/bin/pip: bad interpreter: /opt/homebrew/opt/python35/bin/python3.5: no such file or directory

In [2]:
import pandas as pd

In [44]:
2.isdigit()

SyntaxError: invalid syntax (1900028368.py, line 1)

In [3]:
df = pd.read_csv("data.csv")
df.head()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,2020-04-01,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,90
1,2020-04-01,2,2,-,Ozark,TV Show,Yes,"Jul 21, 2017",5,45
2,2020-04-01,3,3,2,All American,TV Show,NaN,"Mar 28, 2019",9,76
3,2020-04-01,4,4,-,Blood Father,Movie,NaN,"Mar 26, 2020",5,30
4,2020-04-01,5,5,4,The Platform,Movie,Yes,"Mar 20, 2020",9,55

In [26]:
def match(df, col, val):
    return df.loc[df[col] == val]
t = match(df, 'Rank', 1)
t.head()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,2020-04-01,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,90
10,2020-04-02,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",10,100
20,2020-04-03,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",11,110
30,2020-04-04,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",12,120
40,2020-04-05,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",13,130

In [28]:
t.index

Int64Index([   0,   10,   20,   30,   40,   50,   60,   70,   80,   90,
            ...
            7000, 7010, 7020, 7030, 7040, 7050, 7060, 7070, 7080, 7090],
           dtype='int64', length=710)

In [ ]:
class UnrecognizedInputException()

In [10]:
'MATCH("rank", "2")'.replace('"', '')

'MATCH(rank, 2)'

In [8]:
'MATCH("rank", "2")'[5:]

'("rank", "2")'

In [18]:
'MATCH("rank", "2")'.index('(')

5

In [48]:
def is_number_tryexcept(s):
    """ Returns True if string is a number. """
    try:
        float(s)
        return True
    except ValueError:
        return False

In [49]:
def match(df, col, val):
    print(col, val, type(col), type(val))
    return df.loc[df[col] == val]

def extract_expr(df, expression):
    if expression[0:5] == 'MATCH':
        expr = expression[5:].replace('"','')
        left_paren_index = int(expr.index('('))
        comma_index = int(expr.index(','))
        right_paren_index = int(expr.index(')'))
        
        col_name = expr[left_paren_index+1:comma_index]
        value = expr[comma_index+1:right_paren_index]
        print(type(col_name), type(value), value, is_number_tryexcept(value))
#         if value.isdigit():
#             return match(df, col_name, int(value))
#         return match(df, col_name, value)
    else:
         raise Exception(f'Unrecognized operation for input {input}') # todo: make exception class
extract_expr(df, 'MATCH("Rank", "2")')

<class 'str'> <class 'str'>  2 True

In [ ]:
# if input is a valid sequence that starts with AND(...), OR(...), NOT(...), MATCH(...), comma(,) or ) 
def process_input(input, operation_stack, df):
    first_char = input[0]
    if first_char == 'A' and input[0:3] == 'AND(':
        
    else if first_char == 'O' and input[0:2] == 'OR(':
    else if first_char == 'N' and input[0:3] == 'NOT(':
    else if first_char == 'M' and input[0:5] == 'MATCH(':
        operation_stack.append([1, 2, 3]) # TODO: append matched rows of csv_data
        
        
        match(df, )
    #else if first_char == ',' and input[0:1] == ', ':
   # else if first_char == ')':    
    else:
        raise Exception(f'Unrecognized operation for input {input}')